<template>
 <ul>
 <li><router-link to="/page1/test1">Page1 test1</router-link></li>
 <li><router-link to="/page1/test2">Page1 test2</router-link></li>
 <li><router-link to="/page2">Page2</router-link></li>
  <li><router-link to="/page3">Page3</router-link></li>  
  <li><router-link to="/page4">Page4</router-link></li>


 </ul>

</template>

<script>
export default {
  name: 'NavBar',
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
