<template>
  <div class="hello">
    <h1>{{ msg }} Page 2</h1>
    <Form> </Form>
  </div>
</template>

<script>
import Form from './Form.vue';
export default {
  name: 'Page2',
  props: {
    msg: String,
  },
  components: {
    Form
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
