<template>
  <div class="hello">
    <h1>{{ msg }} Page 4</h1>
    <EditProfile> </EditProfile>
    <ViewProfile> </ViewProfile>
  </div>
</template>

<script>
import EditProfile from './EditProfile.vue';
import ViewProfile from './ViewProfile.vue';

export default {
  name: 'Page3',
  props: {
    msg: String,
  }, components: {
    EditProfile,
    ViewProfile
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
